body {
    height: 100vh;
    background-color: blanchedalmond;
}

.pastaImg {
    display: block;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

#contentContainer {
    height: 90%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}

.flex-child {
    text-align: center;
}

.clickedButton {
    background-color: rgb(110, 209, 255);
}